.container{
    background-color: #3fe476;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

.footer__title {
    margin-bottom: 1rem;
}

.footer__author{
    margin-bottom: 1rem;
}

/* Medium Screen */
@media(min-width: 768px){
    
}

/* Large Screen */
@media(min-width: 992px){
    
}